@if (gs.identity?.isUser) {
  <span class="verystatus">
    <!-- <i *ngIf="gs.identity?.is_verified === UserProfileStatus.USER_PROFILE_STATUS_VERIFIED" ngbTooltip="Verified" class="fas fa-check-circle text-success"><span>Verified</span></i>
    <i *ngIf="gs.identity?.is_verified === UserProfileStatus.USER_PROFILE_STATUS_PENDING" ngbTooltip="Pending" class="fas fa-times-circle text-warning"><span>Pending</span></i>
    <i *ngIf="gs.identity?.is_verified === UserProfileStatus.USER_PROFILE_STATUS_INSUFFICIENT" ngbTooltip="Insufficient Information" class="fas fa-times-circle text-danger"><span>Insufficient Information</span></i>
    <i *ngIf="gs.identity?.is_verified === UserProfileStatus.USER_PROFILE_STATUS_SUBMITTED_FOR_VERIFY" ngbTooltip="Submitted For Verify" class="fas fa-times-circle text-danger"><span>Submitted For Verify</span></i> -->
    Profile Status
  </span>
}
