<form
  class="wow fadeIn"
  novalidate
  (ngSubmit)="onSubmit(form)"
  [formGroup]="form"
>
  <div class="row">
    <div class="col-sm-6 col-lg-4">
      <div class="form-group">
        <label
          ><img src="{{ gs.imgUrl }}/password.svg" alt="" />{{
            "Current Password*"
          }}</label
        >
        <input
          type="password"
          class="form-control"
          formControlName="oldPassword"
          [ngClass]="gs.addCls('oldPassword', f)"
        />
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="form-group">
        <label
          ><img src="{{ gs.imgUrl }}/password.svg" alt="" />{{
            "New Password*"
          }}</label
        >
        <input
          type="password"
          class="form-control"
          formControlName="newPassword"
          [ngClass]="gs.addCls('newPassword', f)"
        />
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="form-group">
        <label
          ><img src="{{ gs.imgUrl }}/password.svg" alt="" />{{
            "Confirm New Password*"
          }}</label
        >
        <input
          type="password"
          class="form-control"
          placeholder=""
          formControlName="confirmNewPassword"
          [ngClass]="gs.addCls('confirmNewPassword', f)"
        />
      </div>
    </div>
    <div class="col-sm-12">
      <div class="btndiv">
        <button
          type="submit"
          name="Submit"
          class="btn btn-primary"
          [appLadda]="loading | async"
        >
          {{ "Submit" }}
        </button>
      </div>
    </div>
  </div>
</form>
