<div class="marketing-step-two twopointtwo twopointfour">
  <h1>Marketing / Featured Ads</h1>

  <div class="listingdiv">
    <div class="filterdiv">
      <div class="row">
        <div class="col-sm-2">
          <div class="btndivtop">
            <button type="button" class="btn btn-primary">
              All Properties
            </button>
          </div>
        </div>
        <div class="col-sm-10">
          <div class="row">
            <div class="col-sm-4">
              <div class="input-group">
                <span id="basic-addon2" class="input-group-text">
                  <button type="submit" class="btn btn-primary">
                    <img src="{{ gs.imgUrl }}/search-meg.svg" alt="" />
                  </button>
                </span>
                <input
                  type="text"
                  name="name"
                  placeholder="Search"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="appearance">
                Appearance
                <div class="aprbtn">
                  <img
                    alt=""
                    class="vector"
                    src="{{ gs.imgUrl }}/vector-4.svg"
                  />
                  <button type="button">
                    <img alt="" src="{{ gs.imgUrl }}/list-2.svg" />
                  </button>
                  <img
                    alt=""
                    class="vector"
                    src="{{ gs.imgUrl }}/vector-4.svg"
                  />
                  <button type="button">
                    <img alt="" src="{{ gs.imgUrl }}/refresh.svg" />
                  </button>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="col-sm-4">filter by here</div>
          </div>
        </div>
      </div>
    </div>
    <div class="listingbox">
      <div class="propertytop">
        <div class="row align-items-center">
          <div class="col">Select</div>
          <div class="col">Images</div>
          <div class="col">Property Title</div>
          <div class="col">M2</div>
          <div class="col">Number of Rooms</div>
          <div class="col">Price</div>
          <div class="col">Post Date</div>
          <div class="col">District</div>
        </div>
      </div>
      <div class="propertybottom">
        <div class="propertylist">
          <div class="row align-items-center">
            <div class="col text-center">
              <div class="form-check">
                <input
                  type="checkbox"
                  value=""
                  id="1"
                  class="form-check-input"
                />
                <label for="1" class="form-check-label"></label>
              </div>
            </div>
            <div class="col">
              <a routerLink="/">
                <img src="{{ gs.imgUrl }}/property-4.png" alt="" />
              </a>
            </div>
            <div class="col">Lorem Ipsum Doller</div>
            <div class="col">45</div>
            <div class="col">1 + 1</div>
            <div class="col">25,000 SAR</div>
            <div class="col">19, June 2021</div>
            <div class="col">Olaya</div>
          </div>
        </div>
        <div class="propertylist">
          <div class="row align-items-center">
            <div class="col text-center">
              <div class="form-check">
                <input
                  type="checkbox"
                  value=""
                  id="1"
                  class="form-check-input"
                />
                <label for="1" class="form-check-label"></label>
              </div>
            </div>
            <div class="col">
              <a routerLink="/">
                <img src="{{ gs.imgUrl }}/property-4.png" alt="" />
              </a>
            </div>
            <div class="col">Lorem Ipsum Doller</div>
            <div class="col">45</div>
            <div class="col">1 + 1</div>
            <div class="col">25,000 SAR</div>
            <div class="col">19, June 2021</div>
            <div class="col">Olaya</div>
          </div>
        </div>
        <div class="propertylist">
          <div class="row align-items-center">
            <div class="col text-center">
              <div class="form-check">
                <input
                  type="checkbox"
                  value=""
                  id="1"
                  class="form-check-input"
                />
                <label for="1" class="form-check-label"></label>
              </div>
            </div>
            <div class="col">
              <a routerLink="/">
                <img src="{{ gs.imgUrl }}/property-4.png" alt="" />
              </a>
            </div>
            <div class="col">Lorem Ipsum Doller</div>
            <div class="col">45</div>
            <div class="col">1 + 1</div>
            <div class="col">25,000 SAR</div>
            <div class="col">19, June 2021</div>
            <div class="col">Olaya</div>
          </div>
        </div>
        <div class="propertylist">
          <div class="row align-items-center">
            <div class="col text-center">
              <div class="form-check">
                <input
                  type="checkbox"
                  value=""
                  id="1"
                  class="form-check-input"
                />
                <label for="1" class="form-check-label"></label>
              </div>
            </div>
            <div class="col">
              <a routerLink="/">
                <img src="{{ gs.imgUrl }}/property-4.png" alt="" />
              </a>
            </div>
            <div class="col">Lorem Ipsum Doller</div>
            <div class="col">45</div>
            <div class="col">1 + 1</div>
            <div class="col">25,000 SAR</div>
            <div class="col">19, June 2021</div>
            <div class="col">Olaya</div>
          </div>
        </div>
        <div class="propertylist">
          <div class="row align-items-center">
            <div class="col text-center">
              <div class="form-check">
                <input
                  type="checkbox"
                  value=""
                  id="1"
                  class="form-check-input"
                />
                <label for="1" class="form-check-label"></label>
              </div>
            </div>
            <div class="col">
              <a routerLink="/">
                <img src="{{ gs.imgUrl }}/property-4.png" alt="" />
              </a>
            </div>
            <div class="col">Lorem Ipsum Doller</div>
            <div class="col">45</div>
            <div class="col">1 + 1</div>
            <div class="col">25,000 SAR</div>
            <div class="col">19, June 2021</div>
            <div class="col">Olaya</div>
          </div>
        </div>
        <div class="propertylist">
          <div class="row align-items-center">
            <div class="col text-center">
              <div class="form-check">
                <input
                  type="checkbox"
                  value=""
                  id="1"
                  class="form-check-input"
                />
                <label for="1" class="form-check-label"></label>
              </div>
            </div>
            <div class="col">
              <a routerLink="/">
                <img src="{{ gs.imgUrl }}/property-4.png" alt="" />
              </a>
            </div>
            <div class="col">Lorem Ipsum Doller</div>
            <div class="col">45</div>
            <div class="col">1 + 1</div>
            <div class="col">25,000 SAR</div>
            <div class="col">19, June 2021</div>
            <div class="col">Olaya</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="note">
    <b>Notes</b> <span>:</span> You can select up to 3 Properties
  </div>

  <div class="listingdiv selectedproperty">
    <div class="listingbox">
      <div class="propertybottom">
        <div class="propertylist">
          <div class="row align-items-center">
            <div class="col">
              <a routerLink="/">
                <img src="{{ gs.imgUrl }}/property-4.png" alt="" />
              </a>
            </div>
            <div class="col">Lorem Ipsum Doller</div>
            <div class="col">45</div>
            <div class="col">1 + 1</div>
            <div class="col">25,000 SAR</div>
            <div class="col">19, June 2021</div>
            <div class="col">Olaya</div>
          </div>
        </div>
        <div class="propertylist">
          <div class="row align-items-center">
            <div class="col">
              <a routerLink="/">
                <img src="{{ gs.imgUrl }}/property-4.png" alt="" />
              </a>
            </div>
            <div class="col">Lorem Ipsum Doller</div>
            <div class="col">45</div>
            <div class="col">1 + 1</div>
            <div class="col">25,000 SAR</div>
            <div class="col">19, June 2021</div>
            <div class="col">Olaya</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-7">
      <div class="form-group">
        <label class="one">Category : <span>Apartments</span></label>
      </div>
      <label class="two">Terms & Conditions:</label>
      <div class="termtxt">
        <div class="left-scroll css-scroll">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's Standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus Page
            Maker including versions of Lorem Ipsum.
          </p>

          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a pits layout. The point of
          </p>

          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's Standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus Page
            Maker including versions of Lorem Ipsum.
          </p>
        </div>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="Acceptance"
        />
        <label class="form-check-label" for="Acceptance">
          By clicking on this, I confirm my Acceptance for the term & conditions
        </label>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="calenderpad">
        <div class="calender">
          <h3>Featured Ad</h3>
          <ngb-datepicker
            #dp
            (dateSelect)="onDateSelection($event)"
            [displayMonths]="1"
            [dayTemplate]="t"
            outsideDays="hidden"
          >
          </ngb-datepicker>
          <ng-template #t let-date let-focused="focused">
            <span
              class="custom-day"
              [class.focused]="focused"
              [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null"
            >
              {{ date.day }}
            </span>
          </ng-template>
        </div>
      </div>
      <div class="totalamount">
        <div class="image"><i class="fas fa-check"></i></div>
        <div class="title">Total Amount</div>
        <div class="amount">$200</div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <div class="btndiv">
    <button type="button" class="btn btn-primary">Proceed</button>
    <button type="button" class="btn btn-default">Cancel</button>
  </div>
</div>
