<!-- <div class="loginsociel">
    <div class="row">
        <div class="col-sm-4">
            <button class="googlebtn mb-2 mb-sm-0" type="button" (click)="signInWithGoogle()"><img src="{{gs.imgUrl}}/google.svg" alt="" /></button>
        </div>
        <div class="col-sm-4">
            <button type="button" (click)="signInWithFB()"><img src="{{gs.imgUrl}}/facebook-f.svg" alt="" /></button>
        </div>
        <div class="col-sm-4">
            <button type="button" (click)="signInWithFB()"><img src="{{gs.imgUrl}}/twitter.svg" alt="" /></button>
        </div>
    </div>
</div> -->
