<div class="search-property-managers-view">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item" aria-current="page">
				Search Property Managers
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				Contact Manager
			</li>
		</ol>
	</nav>
	@if (showError) {
	<div class="w-100">
		<h1 class="text-danger">{{ "This url not valid." }}</h1>
	</div>
	}
	@if (!showError) {
	<div class="w-100">
		@if (loadingView | async) {
		<div class="spmbox" style="opacity: 0.8">
			<div class="row">
				<div class="col-sm-2">
					<div class="image">
						<img [src]="item?.avatar" alt="Profile" />
						<div class="online"></div>
					</div>
				</div>
				<div class="col-sm-10">
					<div class="detail">
						<h3>{{ item?.name }}</h3>
						<div class="ratebadge">
							<img src="{{ gs.imgUrl }}/rat-badge.svg" alt="" />
						</div>
						<div class="desina">(Real Estate Group)</div>
						<div class="address">Saudi Arabia, Riyadh City</div>
					</div>
				</div>
			</div>
		</div>
		} @else {
		@if (item === null) {
		<div class="w-100">
			<h1 class="text-danger">{{ "This url not valid." }}</h1>
		</div>
		}
		@if (item) {
		<div class="spmbox">
			<div class="row">
				<div class="col-sm-2">
					<div class="image">
						<img [src]="item.avatar" alt="Profile" />
						<!-- <div class="online"></div> -->
					</div>
				</div>
				<div class="col-sm-10">
					<div class="detail">
						<div class="faveritesbtn">
							<button type="button" class="faverites" [ngClass]="{ text: item.is_favorite }"
								(click)="handleFavourite(item)" [appLadda]="favourileLoading">
								<!-- <i class="{{ item.is_favorite ? 'fas' : 'far' }} fa-heart"></i> -->
								<img src="{{ gs.imgUrl }}/{{
                          item.is_favorite ? 'heart-hor.svg' : 'heart-nor.svg'
                        }}" alt="" />Favorite
							</button>
						</div>
						<h3>{{ item.name }}</h3>
						@if (item.badge) {
							<div class="ratebadge">
								<img src="{{ gs.imgUrl }}/rat-badge.svg" alt="" />
							</div>
						}
						<div class="desina">{{ item.title ? item.title : gs.removeLastS(item.role) }}</div>
						<div class="address">
							{{ $any(item)?.location?.location ?? "-" }}
						</div>
					</div>
				</div>
			</div>
		</div>
		}
		@if (item) {
		<div class="formdiv">
			<form [formGroup]="form" (ngSubmit)="onSubmit(form)">
				<div class="form-group">
					<div class="input-group" controlErrorContainer>
						<input type="text" class="form-control" formControlName="type_of_request"
							placeholder="Type of Request" name="Type of requests" readonly (click)="myDrop.open()" />
						<span class="input-group-text" id="basic-addon2">
							<div ngbDropdown #myDrop="ngbDropdown">
								<button type="button" ngbDropdownToggle ngbDropdownAnchor>
									<span class="name"><img src="{{ gs.imgUrl }}/dropdown-arrow.svg" alt="" /></span>
								</button>
								<ul ngbDropdownMenu>
									@for (item of TypeOfRequestArray; track item) {
									<li>
										<a ngbDropdownItem (click)="
                                form.patchValue({ type_of_request: item.value })
                              ">{{ item.value }}</a>
									</li>
									}
								</ul>
							</div>
						</span>
					</div>
					<!-- <div controlErrorContainer class="w-100">
                <input type="text" class="form-control" formControlName="subject" name="Type of requests">
                <div ngbDropdown>
                  <button type="button" ngbDropdownToggle ngbDropdownAnchor>
                    <span class="name">></span>
                  </button>
                  <ul ngbDropdownMenu>
                    <li *ngFor="let item of TypeOfRequestArray"><a ngbDropdownItem (click)="form.patchValue({ subject: item.value })">{{item.value}}</a></li>
                  </ul>
                </div>
              </div> -->
				</div>
				<div class="form-group-1">
					<textarea class="form-control" placeholder="Description" name="Description" cols="30" rows="10"
						formControlName="description" maxlength="{{ gs.maxLength }}"></textarea>
					@if (form.value?.description) {
					<div class="crtcount">
						{{ gs.maxLength - form.value?.description?.length }}
						characters left
					</div>
					}
				</div>

				<div class="form-group filesupload">
					<app-file-drag-drop-uploader [layout]="'inline'" title="" [browseLabel]="'+ Add attachment...'" [multiple]="false" [accept]="'.xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.pdf'" (getFileId)="form.patchValue({ doc_id: $event[0] })" [hint]="'Accepted file formats: .pdf, .docx, .xls, .png, .jpeg.'" [checkExtensions]="true" [extensions]="'image_doc'"></app-file-drag-drop-uploader>
						
						@if (gs.isValid("doc_id", f)) {
						<div class="invalid-feedback d-block">
							@if (f["doc_id"].errors && f["doc_id"].errors["required"]) {
							<div>{{ "Attachment is required" }}</div>
							}
						</div>
						}
				</div>
				<div class="btndiv">
					<button type="submit" class="btn btn-primary" [appLadda]="loading">
						{{ (item.in_contact === Enums.USER_PROFILE_CONTACT_STATUS_DECLINED) ? 'Re-Submit' : 'Send' }}
					</button>
				</div>
			</form>
		</div>
		}
		}
	</div>
	}
</div>