<div class="product-view-page property-view-page rented">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a routerLink="/">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">My Properties</li>
		</ol>
	</nav>
	<div class="addtop">
		<a routerLink="."><img src="{{ gs.imgUrl }}/addtop.png" alt="" /></a>
	</div>
	<div class="pv-top">
		<div class="row">
			<div class="col-sm-6">
				<div class="bedcrumbdiv">
					@if (item?.m2_gross_price) {
					<span>{{ item?.m2_gross_price | number }} M2 / </span>
					}
					@if (item?.category_id) {
					<span>{{ item?.category?.name | uppercase }} / </span>
					}
					<!-- GARDEN / POOL / LANDSCAPE / NATURE -->
					{{ item?.title | uppercase }}
				</div>
			</div>
			<div class="col-sm-6">
				<div class="btndiv">
					@if (gs.is_owner && is_manage) {
					<a class="btn btn-secondary status"><i class="fas fa-cog"></i><img
							src="{{ gs.imgUrl }}/vector-8.svg" alt="" />Not Managed</a>
					}
					@if (gs.is_owner && !is_manage) {
					<a class="btn btn-light status"><i class="fas fa-exclamation-triangle"></i><img
							src="{{ gs.imgUrl }}/vector-9.svg" alt="" />Managed</a>
					}
				</div>
			</div>
		</div>
	</div>
	<div class="pv-middle">
		<div class="row">
			<div class="col-sm-10">
				<div class="row">
					<div class="col-sm-7">
						<div class="sliderdiv">
							@if (itemObservable | async) {
								<app-catalog-view-slider [item]="item" />
							}
						</div>
					</div>
					<div class="col-sm-5">
						<app-catalog-general-details [item]="item" />
					</div>
				</div>
				@if (gs.margeMedia(item?.media).video?.length > 0) {
					<div class="pv-box location vedio">
						<div class="pv-title">
							<h1>Video</h1>
						</div>
						<div class="pv-body d-flex">
							<div class="left-scroll css-scroll">
								<div class="row">
									@for (video of gs.margeMedia(item?.media).video; track video) {
									<div class="col-sm-12">
										<div class="image">
											<video class="w-100" controls [src]="video?.path"></video>
										</div>
									</div>
									}
								</div>
							</div>
						</div>
					</div>
				}
				<app-catalog-features-view [item]="item" />
				@if (item?.owner_id !== item?.user_id) {
					<app-catalog-manager-box-view [item]="item" [show_action]="false" />
				}
				@if (item?.owner_id === item?.user_id) {
					<app-catalog-owner-box-view [item]="item" [show_action]="false" />
				}
				<app-catalog-tenant-agreement-view [item]="item" />
				<!-- <app-catalog-owner-agreement-view [item]="item"></app-catalog-owner-agreement-view> -->
				<div class="pv-box location">
					<div class="pv-title">
						<h1>Location</h1>
					</div>
					<div class="pv-body">
						<div class="image">
							@if (item?.location) {
								<app-google-map-view [location]="$any(item?.location)" />
							} @else {
								<div>Location not added</div>
							}
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="addright">
					<a routerLink="."><img src="{{ gs.imgUrl }}/addright.png" alt="" /></a>
				</div>
			</div>
		</div>
	</div>
</div>