<div class="how-it-works-page">
  <div class="how-it-works-banner">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="banner-left wow fadeInLeft">
            <h1>Get Started Now</h1>
            <div class="content">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since.
            </div>
            <div class="getbox">
              <img src="{{ gs.imgUrl }}/services-img-1.png" alt="Images" />
              <h4>Property Owner</h4>
            </div>
            <div class="getbox">
              <img src="{{ gs.imgUrl }}/services-img-2.png" alt="Images" />
              <h4>Property Manager</h4>
            </div>
            <div class="getbox">
              <img src="{{ gs.imgUrl }}/services-img-3.png" alt="Images" />
              <h4>Tenant</h4>
            </div>
            <div class="getbox">
              <img src="{{ gs.imgUrl }}/services-img-4.png" alt="Images" />
              <h4>Vendor</h4>
            </div>
          </div>
        </div>
        <div class="col-sm-6"></div>
      </div>
    </div>
  </div>

  <div class="home-features">
    <div class="container">
      <h1>How it Works</h1>
      <div class="features-tab wow fadeInUp">
        <ul ngbNav #nav23="ngbNav" class="nav-tabs">
          <li ngbNavItem>
            <a ngbNavLink>Property Owner</a>
            <ng-template ngbNavContent>
              <div class="browse-property">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="image">
                      <img
                        src="{{ gs.imgUrl }}/how-it-works-1.png"
                        alt="Images"
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="textdiv">
                      <div class="analyticsbox">
                        <div class="image">
                          <img
                            src="{{ gs.imgUrl }}/how-it-works-2.png"
                            alt="Images"
                          />
                        </div>
                        <div class="analeft">
                          <h3>Register</h3>
                          <div class="contenttwo">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since.
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="analyticsbox">
                        <div class="image">
                          <img
                            src="{{ gs.imgUrl }}/how-it-works-3.png"
                            alt="Images"
                          />
                        </div>
                        <div class="analeft">
                          <h3>Find Property Manager</h3>
                          <div class="contenttwo">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since.
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="analyticsbox">
                        <div class="image">
                          <img
                            src="{{ gs.imgUrl }}/how-it-works-4.png"
                            alt="Images"
                          />
                        </div>
                        <div class="analeft">
                          <h3>Issue Requests, Received Requests & Bills</h3>
                          <div class="contenttwo">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since.
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="analyticsbox">
                        <div class="image">
                          <img
                            src="{{ gs.imgUrl }}/how-it-works-5.png"
                            alt="Images"
                          />
                        </div>
                        <div class="analeft">
                          <h3>Hire Staff & Distribute work</h3>
                          <div class="contenttwo">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since.
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>Property Manager</a>
            <ng-template ngbNavContent>
              <div class="browse-property">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="image">
                      <img
                        src="{{ gs.imgUrl }}/how-it-works-1.png"
                        alt="Images"
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="textdiv">
                      <div class="analyticsbox">
                        <div class="image">
                          <img
                            src="{{ gs.imgUrl }}/how-it-works-2.png"
                            alt="Images"
                          />
                        </div>
                        <div class="analeft">
                          <h3>Register</h3>
                          <div class="contenttwo">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since.
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="analyticsbox">
                        <div class="image">
                          <img
                            src="{{ gs.imgUrl }}/how-it-works-3.png"
                            alt="Images"
                          />
                        </div>
                        <div class="analeft">
                          <h3>Find Property Manager</h3>
                          <div class="contenttwo">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since.
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="analyticsbox">
                        <div class="image">
                          <img
                            src="{{ gs.imgUrl }}/how-it-works-4.png"
                            alt="Images"
                          />
                        </div>
                        <div class="analeft">
                          <h3>Issue Requests, Received Requests & Bills</h3>
                          <div class="contenttwo">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since.
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="analyticsbox">
                        <div class="image">
                          <img
                            src="{{ gs.imgUrl }}/how-it-works-5.png"
                            alt="Images"
                          />
                        </div>
                        <div class="analeft">
                          <h3>Hire Staff & Distribute work</h3>
                          <div class="contenttwo">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since.
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>Tenant</a>
            <ng-template ngbNavContent>
              <div class="browse-property">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="image">
                      <img
                        src="{{ gs.imgUrl }}/how-it-works-1.png"
                        alt="Images"
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="textdiv">
                      <div class="analyticsbox">
                        <div class="image">
                          <img
                            src="{{ gs.imgUrl }}/how-it-works-2.png"
                            alt="Images"
                          />
                        </div>
                        <div class="analeft">
                          <h3>Register</h3>
                          <div class="contenttwo">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since.
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="analyticsbox">
                        <div class="image">
                          <img
                            src="{{ gs.imgUrl }}/how-it-works-3.png"
                            alt="Images"
                          />
                        </div>
                        <div class="analeft">
                          <h3>Find Property Manager</h3>
                          <div class="contenttwo">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since.
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="analyticsbox">
                        <div class="image">
                          <img
                            src="{{ gs.imgUrl }}/how-it-works-4.png"
                            alt="Images"
                          />
                        </div>
                        <div class="analeft">
                          <h3>Issue Requests, Received Requests & Bills</h3>
                          <div class="contenttwo">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since.
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="analyticsbox">
                        <div class="image">
                          <img
                            src="{{ gs.imgUrl }}/how-it-works-5.png"
                            alt="Images"
                          />
                        </div>
                        <div class="analeft">
                          <h3>Hire Staff & Distribute work</h3>
                          <div class="contenttwo">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since.
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>Vendor</a>
            <ng-template ngbNavContent>
              <div class="browse-property">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="image">
                      <img
                        src="{{ gs.imgUrl }}/how-it-works-1.png"
                        alt="Images"
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="textdiv">
                      <div class="analyticsbox">
                        <div class="image">
                          <img
                            src="{{ gs.imgUrl }}/how-it-works-2.png"
                            alt="Images"
                          />
                        </div>
                        <div class="analeft">
                          <h3>Register</h3>
                          <div class="contenttwo">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since.
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="analyticsbox">
                        <div class="image">
                          <img
                            src="{{ gs.imgUrl }}/how-it-works-3.png"
                            alt="Images"
                          />
                        </div>
                        <div class="analeft">
                          <h3>Find Property Manager</h3>
                          <div class="contenttwo">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since.
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="analyticsbox">
                        <div class="image">
                          <img
                            src="{{ gs.imgUrl }}/how-it-works-4.png"
                            alt="Images"
                          />
                        </div>
                        <div class="analeft">
                          <h3>Issue Requests, Received Requests & Bills</h3>
                          <div class="contenttwo">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since.
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="analyticsbox">
                        <div class="image">
                          <img
                            src="{{ gs.imgUrl }}/how-it-works-5.png"
                            alt="Images"
                          />
                        </div>
                        <div class="analeft">
                          <h3>Hire Staff & Distribute work</h3>
                          <div class="contenttwo">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since.
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav23"></div>
      </div>
    </div>
  </div>
</div>
