<div class="pv-box tenant">
  <div class="pv-title">
    <h1>Property Owner</h1>
  </div>
  <div class="pv-body">
    <div class="row">
      <div class="col-sm-3">
        <div class="image">
          <img src="{{ gs.imgUrl }}/manager-2.png" alt="Images" />
        </div>
      </div>
      <div class="col-sm-9">
        <div class="lefttxt">
          <div class="row">
            <div class="col-sm-6">
              <div class="detailbox">
                <div class="row">
                  <div class="col-sm-5">Owner Name</div>
                  <div class="col-sm-7">Aafiya</div>
                </div>
              </div>
              <div class="detailbox">
                <div class="row">
                  <div class="col-sm-5">Email Address</div>
                  <div class="col-sm-7">aafiya&#64;gmail.com</div>
                </div>
              </div>
              <div class="detailbox">
                <div class="row">
                  <div class="col-sm-5">Country Code</div>
                  <div class="col-sm-7">+966</div>
                </div>
              </div>
              <div class="detailbox">
                <div class="row">
                  <div class="col-sm-5">Phone Number</div>
                  <div class="col-sm-7">011 325 2514</div>
                </div>
              </div>
              <div class="detailbox">
                <div class="row">
                  <div class="col-sm-5">Address</div>
                  <div class="col-sm-7">Riyad Saudi</div>
                </div>
              </div>
              <div class="detailbox">
                <div class="row">
                  <div class="col-sm-5">Type of Contract</div>
                  <div class="col-sm-7">Quarterly</div>
                </div>
              </div>
              <div class="detailbox">
                <div class="row">
                  <div class="col-sm-5">Management Commission</div>
                  <div class="col-sm-7">20%</div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="detailbox">
                <div class="row">
                  <div class="col-sm-5">Payable</div>
                  <div class="col-sm-7">Quarterly</div>
                </div>
              </div>
              <div class="detailbox">
                <div class="row">
                  <div class="col-sm-5">Deposit</div>
                  <div class="col-sm-7">SAR 2500.00</div>
                </div>
              </div>
              <div class="detailbox">
                <div class="row">
                  <div class="col-sm-5">Contract</div>
                  <div class="col-sm-7">
                    <i class="fas fa-file-pdf"></i>Contract
                  </div>
                </div>
              </div>
              <div class="detailbox">
                <div class="row">
                  <div class="col-sm-5">Start Date</div>
                  <div class="col-sm-7">November 22, 2022</div>
                </div>
              </div>
              <div class="detailbox">
                <div class="row">
                  <div class="col-sm-5">End Date</div>
                  <div class="col-sm-7">December 22, 2023</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="lefttxt">
          <h3>Terms & Conditions</h3>
          <div class="left-scroll css-scroll" infiniteScroll>
            <div class="contenttwo">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's Standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing
              </p>

              Lorem Ipsum passages, and more recently with desktop publishing
              software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
          </div>
          <div class="btndiv">
            <a routerLink="/" class="btn btn-primary">Accept</a>
            <a routerLink="/" class="btn btn-default">Decline</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
