<div class="profile-settings">
  <div class="addtop">
    <a routerLink="/"><img src="{{ gs.imgUrl }}/addtop.png" alt="" /></a>
  </div>

  <h1 class="title">Account Settings</h1>
  <div class="row">
    <div class="col-sm-10">
      <div class="pagebox">
        <div class="profilebox">
          <a routerLink="/profile/update">
            <div class="row align-items-center">
              <div class="col-sm-2">
                <div class="image">
                  <img src="{{ gs.imgUrl }}/setting-profile.svg" alt="" />
                </div>
              </div>
              <div class="col-sm-8">
                <div class="textdiv">
                  <h3>Profile</h3>
                  <div class="content">
                    Personalize your account and update your sign in
                    preferences.
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="linkarrow">
                  <img src="{{ gs.imgUrl }}/linkarrow.svg" alt="" />
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="profilebox">
          <a routerLink="/profile/notification">
            <div class="row align-items-center">
              <div class="col-sm-2">
                <div class="image">
                  <img src="{{ gs.imgUrl }}/setting-notification.svg" alt="" />
                </div>
              </div>
              <div class="col-sm-8">
                <div class="textdiv">
                  <h3>Notification</h3>
                  <div class="content">
                    Message the content and frequency of your Amlakserve mails
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="linkarrow">
                  <img src="{{ gs.imgUrl }}/linkarrow.svg" alt="" />
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="addright">
        <a routerLink="/"><img src="{{ gs.imgUrl }}/addright.png" alt="" /></a>
      </div>
    </div>
  </div>
</div>
