<div class="features-page">
  <div class="features-banner">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="banner-left wow fadeInLeft">
            <h1>Amlakserv Features</h1>
            <div class="content">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since.
            </div>
          </div>
        </div>
        <div class="col-sm-6"></div>
      </div>
    </div>
  </div>

  <div class="home-features">
    <div class="container">
      <div class="features-tab wow fadeInUp">
        <ul ngbNav #nav23="ngbNav" class="nav-tabs">
          <li ngbNavItem>
            <a ngbNavLink>Browse Property</a>
            <ng-template ngbNavContent>
              <div class="browse-property">
                <div class="row">
                  <div class="col-sm-7">
                    <div class="image">
                      <img
                        src="{{ gs.imgUrl }}/browse-property.png"
                        alt="Images"
                      />
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="textdiv">
                      <h2>Browse Property</h2>
                      <div class="contenttwo">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit, sed do eiusmod tempor incididunt ut labore et
                          dolore magna aliqua enminim veniam, quis nostrud
                          exercitation ullamco laboris is a placeholder text
                          commonly.
                        </p>

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua enminim veniam, quis nostrud exercitation
                        ullamco laboris is a placeholder text commonly.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>Advertise</a>
            <ng-template ngbNavContent>
              <div class="browse-property">
                <div class="row">
                  <div class="col-sm-7">
                    <div class="image">
                      <img src="{{ gs.imgUrl }}/advertise.png" alt="Images" />
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="textdiv">
                      <h2>Advertise</h2>
                      <div class="contenttwo">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit, sed do eiusmod tempor incididunt ut labore et
                          dolore magna aliqua enminim veniam, quis nostrud
                          exercitation ullamco laboris is a placeholder text
                          commonly.
                        </p>

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua enminim veniam, quis nostrud exercitation
                        ullamco laboris is a placeholder text commonly.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>Promote Profile</a>
            <ng-template ngbNavContent>
              <div class="browse-property">
                <div class="row">
                  <div class="col-sm-7">
                    <div class="image">
                      <img
                        src="{{ gs.imgUrl }}/promote-profile.png"
                        alt="Images"
                      />
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="textdiv">
                      <h2>Promote Profile</h2>
                      <div class="contenttwo">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit, sed do eiusmod tempor incididunt ut labore et
                          dolore magna aliqua enminim veniam, quis nostrud
                          exercitation ullamco laboris is a placeholder text
                          commonly.
                        </p>

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua enminim veniam, quis nostrud exercitation
                        ullamco laboris is a placeholder text commonly.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>Communication</a>
            <ng-template ngbNavContent>
              <div class="browse-property">
                <div class="row">
                  <div class="col-sm-7">
                    <div class="image">
                      <img
                        src="{{ gs.imgUrl }}/communication.png"
                        alt="Images"
                      />
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="textdiv">
                      <h2>Communication</h2>
                      <div class="contenttwo">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit, sed do eiusmod tempor incididunt ut labore et
                          dolore magna aliqua enminim veniam, quis nostrud
                          exercitation ullamco laboris is a placeholder text
                          commonly.
                        </p>

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua enminim veniam, quis nostrud exercitation
                        ullamco laboris is a placeholder text commonly.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>Manage Requests</a>
            <ng-template ngbNavContent>
              <div class="browse-property">
                <div class="row">
                  <div class="col-sm-7">
                    <div class="image">
                      <img
                        src="{{ gs.imgUrl }}/manage-requests.png"
                        alt="Images"
                      />
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="textdiv">
                      <h2>Manage Requests</h2>
                      <div class="contenttwo">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit, sed do eiusmod tempor incididunt ut labore et
                          dolore magna aliqua enminim veniam, quis nostrud
                          exercitation ullamco laboris is a placeholder text
                          commonly.
                        </p>

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua enminim veniam, quis nostrud exercitation
                        ullamco laboris is a placeholder text commonly.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>Manage Staff</a>
            <ng-template ngbNavContent>
              <div class="browse-property">
                <div class="row">
                  <div class="col-sm-7">
                    <div class="image">
                      <img
                        src="{{ gs.imgUrl }}/manage-staff.png"
                        alt="Images"
                      />
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="textdiv">
                      <h2>Manage Staff</h2>
                      <div class="contenttwo">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit, sed do eiusmod tempor incididunt ut labore et
                          dolore magna aliqua enminim veniam, quis nostrud
                          exercitation ullamco laboris is a placeholder text
                          commonly.
                        </p>

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua enminim veniam, quis nostrud exercitation
                        ullamco laboris is a placeholder text commonly.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav23"></div>
      </div>
    </div>
  </div>
</div>
