<div class="marketing-step-two">
  <h1>Marketing / Banners</h1>
  <div class="topbanner">
    <app-file-drag-drop-uploader
      title="Your Ad Here"
      [multiple]="false"
      [accept]="'image/*'"
      [layout]="'ad-layout'"
      [checkHeightWidth]="true"
      [width]="1141"
      [height]="175"
      [extensions]="'image'"
    ></app-file-drag-drop-uploader>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <div class="form-group">
        <label class="one">Select :</label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="UpperBanner"
          />
          <label class="form-check-label" for="UpperBanner">
            Upper Banner
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="RightBanner"
          />
          <label class="form-check-label" for="RightBanner">
            Right Banner
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="one">Category : <span>Apartments</span></label>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="calenderpad">
            <div class="calender">
              <h3>Upper Banner</h3>
              <ngb-datepicker
                #dp
                (dateSelect)="onDateSelection($event)"
                [displayMonths]="1"
                [dayTemplate]="t"
                outsideDays="hidden"
              >
              </ngb-datepicker>
              <ng-template #t let-date let-focused="focused">
                <span
                  class="custom-day"
                  [class.focused]="focused"
                  [class.range]="isRange(date)"
                  [class.faded]="isHovered(date) || isInside(date)"
                  (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null"
                >
                  {{ date.day }}
                </span>
              </ng-template>
            </div>
          </div>
          <div class="totalamount">
            <div class="image"><i class="fas fa-check"></i></div>
            <div class="title">Total Amount</div>
            <div class="amount">$200</div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="calenderpad">
            <div class="calender">
              <h3>Right Banner</h3>
              <ngb-datepicker
                #dp
                (dateSelect)="onDateSelection($event)"
                [displayMonths]="1"
                [dayTemplate]="t"
                outsideDays="hidden"
              >
              </ngb-datepicker>
              <ng-template #t let-date let-focused="focused">
                <span
                  class="custom-day"
                  [class.focused]="focused"
                  [class.range]="isRange(date)"
                  [class.faded]="isHovered(date) || isInside(date)"
                  (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null"
                >
                  {{ date.day }}
                </span>
              </ng-template>
            </div>
          </div>
          <div class="totalamount">
            <div class="image"><i class="fas fa-check"></i></div>
            <div class="title">Total Amount</div>
            <div class="amount">$200</div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div class="notetitle"><i class="fas fa-info-circle"></i>Notes :</div>
      <div class="uppertxt">
        <span>Upper Banner :</span> Image should be the 161.16 inch, soace 10,
        height 14, width 16
      </div>
      <div class="uppertxt">
        <span>Right Banner :</span> Image should be the 120 inch, soace 5,
        height 26, width 10
      </div>

      <label class="two">Terms & Conditions:</label>
      <div class="termtxt">
        <div class="left-scroll css-scroll">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's Standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus Page
            Maker including versions of Lorem Ipsum.
          </p>

          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a pits layout. The point of
          </p>

          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's Standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus Page
            Maker including versions of Lorem Ipsum.
          </p>
        </div>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="Acceptance"
        />
        <label class="form-check-label" for="Acceptance">
          By clicking on this, I confirm my Acceptance for the term & conditions
        </label>
      </div>
      <div class="btndiv">
        <button type="button" class="btn btn-primary">Apply</button>
        <button type="button" class="btn btn-default">Cancel</button>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="rightbanner">
        <app-file-drag-drop-uploader
          title="Your Ad Here"
          [multiple]="false"
          [accept]="'image/*'"
          [layout]="'ad-layout'"
          [checkHeightWidth]="true"
          [width]="166"
          [height]="821"
          [extensions]="'image'"
        ></app-file-drag-drop-uploader>
      </div>
    </div>
  </div>
</div>

<div class="marketing-step-two twopointone">
  <h1>Marketing / Banners</h1>
  <div class="topbanner">
    <a routerLink="/"><img src="{{ gs.imgUrl }}/addtop.png" alt="" /></a>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <div class="form-group">
        <label class="one">Select :</label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="UpperBanner"
          />
          <label class="form-check-label" for="UpperBanner">
            Upper Banner
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="RightBanner"
          />
          <label class="form-check-label" for="RightBanner">
            Right Banner
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="one">Category : <span>Apartments</span></label>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="calenderpad">
            <h3>Upper Banner</h3>
            9/13/2022 to 9/20/2022
          </div>
          <div class="totalamount">
            <div class="image"><i class="fas fa-check"></i></div>
            <div class="title">Total Amount</div>
            <div class="amount">$200</div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="calenderpad">
            <h3>Right Banner</h3>
            9/13/2022 to 9/20/2022
          </div>
          <div class="totalamount">
            <div class="image"><i class="fas fa-check"></i></div>
            <div class="title">Total Amount</div>
            <div class="amount">$200</div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div class="notetitle"><i class="fas fa-info-circle"></i>Notes :</div>
      <div class="uppertxt">
        <span>Upper Banner :</span> Image should be the 161.16 inch, soace 10,
        height 14, width 16
      </div>
      <div class="uppertxt">
        <span>Right Banner :</span> Image should be the 120 inch, soace 5,
        height 26, width 10
      </div>

      <div class="btndiv">
        <button type="button" class="btn btn-primary">Proceed</button>
        <button type="button" class="btn btn-default">Cancel</button>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="rightbanner">
        <a routerLink="/"><img src="{{ gs.imgUrl }}/addright.png" alt="" /></a>
      </div>
    </div>
  </div>
</div>
