<div class="modal-body">
  <button type="button" class="close" (click)="activeModal.dismiss()">
    <img src="{{ gs.imgUrl }}/close-btn.svg" alt="Close" />
  </button>
  @if (showForm) {
    <div class="email-popup">
      <h1>Edit email</h1>
      <form novalidate (ngSubmit)="onApply(form)" [formGroup]="form">
        <div class="row">
          <div class="col-sm-12">
            <div class="title">Your current email is</div>
            <div class="valuetxt">{{ gs.user?.email }}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <input
                type="password"
                passwordToggle
                placeholder="Current Password"
                class="form-control"
                formControlName="password"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                placeholder="New email"
                class="form-control"
                formControlName="email"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                placeholder="Confirm new email"
                class="form-control"
                formControlName="confirm_email"
              />
            </div>
          </div>
        </div>
        <div class="btndivtwo">
          <button type="submit" class="btn btn-primary">Apply</button>
          <button
            type="button"
            class="btn btn-default"
            (click)="activeModal.dismiss()"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  }
  @if (showConfirm) {
    <div class="email-popup2">
      <h1>Email Verify</h1>
      <div class="row">
        <div class="col-sm-12">
          <div class="image">
            <img src="{{ gs.imgUrl }}/veri-steps.svg" alt="" />
          </div>
          <!-- <div class="content">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </div> -->
        </div>
      </div>
      <div class="btndivtwo">
        <button
          type="button"
          class="btn btn-primary"
          (click)="sendEmail()"
          [appLadda]="submitted"
        >
          Send Email Verification
        </button>
        <button
          type="button"
          class="btn btn-default"
          (click)="activeModal.dismiss()"
        >
          Cancel
        </button>
      </div>
    </div>
  }
  @if (showOtp) {
    <div class="email-popup2">
      <h1>Email Verify Authentication Code</h1>
      <form novalidate (ngSubmit)="onVerifyOtp(form2)" [formGroup]="form2">
        <div class="image">
          <img src="{{ gs.imgUrl }}/veri-2-steps.svg" alt="" />
        </div>
        <h2>Enter a verification code</h2>
        <div class="content">
          A text message with a verification code was just sent to *** ***
          **&#64;gmail.com
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            formControlName="otp"
            placeholder="G - Enter the 6-digit code"
          />
        </div>
        <div class="btndivtwo">
          <button type="submit" class="btn btn-primary" [appLadda]="submitted">
            Submit
          </button>
        </div>
      </form>
    </div>
  }
</div>
