<div class="modal-body">
	<button type="button" class="close" (click)="activeModal.dismiss()">
		<img src="{{ gs.imgUrl }}/close-btn.svg" alt="Close" />
	</button>
	<h1>Features</h1>
	<form [formGroup]="formAmenities" (ngSubmit)="onSubmit(formAmenities)">
		<div class="tabmenu">
			<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
				@for (features of NewFeaturesArray; track features; let i = $index) {
				@if (features.children?.length > 0) {
				<li [ngbNavItem]="i">
					<a ngbNavLink>{{ features.name }}</a>
					<ng-template ngbNavContent>
						@if (features.slug === "add-more-features") {
						<div class="w-100">
							<div class="w-100 morefeature" formArrayName="amenities">
								<h5 class="note">Note: You can add upto 5 features</h5>
								@for (item of features.children; track item; let index = $index) {
								<div class="w-100">
									<h5>{{ item.name }}</h5>
									<div class="row" [formGroupName]="getIndex(item)">
										<div class="col-sm-4">
											<div class="form-group">
												<input type="text" class="form-control" placeholder="Title" formControlName="name" [maxlength]="32" />
												<!-- @if (amenities.at(getIndex(item)).value?.name?.length > 39) {
													<div class="invalid-feedback d-block">Maximum 40 characters</div>
												} -->
												@if (amenities.at(getIndex(item)).value?.name) {
													<div class="crtcount">
														{{ 32 - amenities.at(getIndex(item)).value?.name?.length }}
														characters left
													</div>
												}
											</div>
										</div>
										<div class="col-sm-8">
											<div class="form-group">
												<input type="text" class="form-control" placeholder="Description" formControlName="description" [maxlength]="255" />

												<!-- {{ amenities.at(getIndex(item)).value?.description?.length | json }}
												{{ amenities.at(getIndex(item)).value?.description?.length > 79 | json }} -->

												@if (amenities.at(getIndex(item)).value?.description) {
												<div class="crtcount">
													{{ 255 - amenities.at(getIndex(item)).value?.description?.length }}
													characters left
												</div>
												}
												<!-- @if (amenities.at(getIndex(item)).value?.description?.length > 79) {
													<div class="invalid-feedback d-block">Maximum 80 characters</div>
												} -->
											</div>
										</div>
									</div>
								</div>
								}
							</div>
						</div>
						} @else {
						<div class="row">
							@for (item of features.children; track item) {
							<div class="col-sm-6">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" [value]="item.id" id="Features-{{item.id}}" (change)="handleAmenities($event, item, features.name)" [checked]="amenitiesChacked(item)" />
									<label class="form-check-label" for="Features-{{item.id}}">
										{{ item.name }}
									</label>
								</div>
							</div>
							}
						</div>
						}
					</ng-template>
				</li>
				}
				} @empty {
					<li>Begin by choosing the Classification and Type to unlock a comprehensive list of available features</li>
				}
			</ul>
			<div [ngbNavOutlet]="nav" class="mt-2"></div>
		</div>
		<div class="btndiv mt-2">
			<button type="submit" class="btn btn-primary">Submit</button>
			<button type="button" class="btn btn-default" (click)="activeModal.dismiss()">
				Cancel
			</button>
		</div>
	</form>
</div>