@if (owner?.id) {
	<div class="pv-box manager">
		<div class="pv-title">
			<h1>Property Owner</h1>
		</div>
		<div class="pv-body">
			<div class="row">
				<div class="col-sm-3">
					<div class="image">
						<img [src]="owner?.avatar ? owner?.avatar : gs.imgUrl + '/manager-1.png'" [alt]="owner?.name" />
					</div>
				</div>
				<div class="col-sm-9">
					<div class="lefttxt">
						<h3>{{ owner?.name }}</h3>
						<h4>{{ owner?.title ? owner?.title : owner?.role }}</h4>
						<div class="left-scroll css-scroll" infiniteScroll>
							<div class="contenttwo" [innerHTML]="owner?.about"></div>
						</div>
						<div class="btndiv">
							@if (owner?.id !== gs.identity?.id) {
								<a (click)="contact()" class="btn btn-primary">Contact</a>
							}
							@if (gs.is_owner || gs.is_manager) {
								<a routerLink="/properties/manager-agreement/{{ item?.id }}" class="btn btn-secondary">View Management Agreement</a>
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}