<section id="login-form" class="login-page register-page">
  <div class="container">
    <div class="row main">
      <div class="col-sm-6 main">
        <div class="image">
          <img src="{{ gs.imgUrl }}/login-img.png" alt="" />
        </div>
      </div>
      <div class="col-sm-6 main">
        <div class="login-box">
          <div class="logodiv">
            <a routerLink="/"
              ><img src="{{ gs.imgUrl }}/login-logo.png" alt=""
            /></a>
          </div>
          <div class="logregbtn">
            <a routerLink="/login">Sign In</a>
            <a class="active" routerLink="/register">Sign Up</a>
          </div>
          <!-- <h1>{{'Sign Up' }}</h1> -->
          <app-register-form></app-register-form>
        </div>
      </div>
    </div>
  </div>
</section>
