<div class="create-property">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item">
        <a routerLink="/properties">My Properties</a>
      </li>
      <li class="breadcrumb-item">
        {{ (view | async)?.id ? "Update Property" : "Add Property" }}
      </li>
      @if ((view | async)?.id) {
        <li class="breadcrumb-item active">{{ (view | async)?.title }}</li>
      }
    </ol>
  </nav>
  <router-outlet></router-outlet>
</div>
