<div class="modal-body">
  <button type="button" class="close" (click)="activeModal.dismiss()">
    <img src="{{ gs.imgUrl }}/close-btn.svg" alt="Close" />
  </button>

  <h1>Change Password</h1>

  <div class="editname-popup">
    <form novalidate (ngSubmit)="onSubmit(form)" [formGroup]="form">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label>Current Password*</label>
            <div class="input-group" controlErrorContainer>
              <span class="input-group-text" id="basic-addon1"
                ><img src="{{ gs.imgUrl }}/password.svg" alt=""
              /></span>
              <input
                type="password"
                class="form-control"
                placeholder="Current Password"
                passwordToggle
                formControlName="old_password"
                name="Old password"
              />
            </div>
          </div>
          <div class="form-group">
            <label>New Password*</label>
            <div class="input-group" controlErrorContainer>
              <span class="input-group-text" id="basic-addon1"
                ><img src="{{ gs.imgUrl }}/password.svg" alt=""
              /></span>
              <input
                type="password"
                class="form-control"
                placeholder="New Password"
                passwordToggle
                formControlName="password"
                name="New Password"
              />
            </div>
          </div>
          <div class="form-group">
            <label>Confirm New Password*</label>
            <div class="input-group" controlErrorContainer>
              <span class="input-group-text" id="basic-addon1"
                ><img src="{{ gs.imgUrl }}/password.svg" alt=""
              /></span>
              <input
                type="password"
                class="form-control"
                placeholder="Confirm New Password"
                passwordToggle
                formControlName="confirm_password"
                name="Confirm password"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="btndivtwo">
        <button
          type="submit"
          class="btn btn-primary"
          [appLadda]="loading | async"
        >
          Apply
        </button>
        <button
          type="button"
          class="btn btn-default"
          (click)="activeModal.dismiss()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
