<div class="home-page">
  <div class="home-banner become-host-banner">
    <div class="container">
      <div class="row become-host-page-row">
        <div class="col-sm-12 align-self-center">
          <div class="content">
            Helping small businesses and Individuals Generate easy extra income
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="w-100">
    <div class="container">
        <form novalidate (ngSubmit)="onLogin(form)" [formGroup]="form">
            <div>
                <input type="text" formControlName="price" name="price" 
                    placeholder="Format Price" nhFormatInput="income" />
                <br/>
                <input type="text" formControlName="date" name="date" 
                    placeholder="Format Date mm/dd/yyyy" nhFormatInput="dob" />
                <br/>
                <input type="text" formControlName="ssn" name="ssn" 
                    placeholder="Format Social Security Number" nhFormatInput="ssn" />
                <br/>
                <input type="text" formControlName="cap" name="cap" 
                    placeholder="Capitalize" nhFormatInput="capitalize" />
            </div>
            <button type="submit" class="btn btn-primary">SIGN UP</button>
            <pre>
                {{ form.value | json }}
            </pre>
        </form>
    </div>
</div> -->

<div class="how-it-works-cont">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 align-self-center order-1 order-sm-0">
        <div>
          <h2 class="how-it-work-title mt-4 mt-sm-0">How it works?</h2>
          <p class="how-it-work-para">
            ANY type of space works! Monzescope welcomes restaurants, bars,
            beauty salon, barbershop, empty lots, office, warehouse, even
            apartments, houses, and more!
          </p>
          <button
            class="btn btn-primary how-it-work-but"
            (click)="becomeHost()"
          >
            BECOME A HOST
          </button>
        </div>
      </div>
      <div class="col-sm-6 order-0 order-sm-1">
        <div>
          <img
            src="{{ gs.imgUrl }}/how-it-works.png"
            alt="NoImage"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="host-with-monze">
  <div class="container">
    <div class="row">
      <div class="col-md-5 align-self-end">
        <div>
          <img
            src="{{ gs.imgUrl }}/host-with-monze-left-img.svg"
            alt="NoImage"
            class="host-with-monze-img"
          />
        </div>
      </div>
      <div class="col-md-7">
        <div>
          <div class="host-with-monz-right-cont">
            <h2 class="host-with-title">Hosting with Monzescope</h2>
            <ul class="host-with-ul">
              <li>
                <div class="host-with-monze-left-text-icon">
                  <i class="fas fa-check-circle"></i>
                </div>
                <div class="host-with-monze-left-text-content">
                  Set your own <span>house rules</span>, all guests must agree
                  with them before they book your property.
                </div>
              </li>
              <li>
                <div class="host-with-monze-left-text-icon">
                  <i class="fas fa-check-circle"></i>
                </div>
                <div class="host-with-monze-left-text-content">
                  List your space in <span>3 easy steps.</span>
                </div>
              </li>
              <li>
                <div class="host-with-monze-left-text-icon">
                  <i class="fas fa-check-circle"></i>
                </div>
                <div class="host-with-monze-left-text-content">
                  <span>Customize</span> your listing anytime from anywhere, you
                  are in control.
                </div>
              </li>
              <li>
                <div class="host-with-monze-left-text-icon">
                  <i class="fas fa-check-circle"></i>
                </div>
                <div class="host-with-monze-left-text-content">
                  <span>Attract</span> guests who are in sync with your house
                  rules and terms.
                </div>
              </li>
              <li class="mb-0">
                <div class="host-with-monze-left-text-icon">
                  <i class="fas fa-check-circle"></i>
                </div>
                <div class="host-with-monze-left-text-content">
                  Charge a <span>Security deposit</span> for an extra peace of
                  mind if you feel it's necessary.
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="reason-to-beco-host px-3 px-sm-0">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="">
          <div class="position-relative">
            <img
              src="{{ gs.imgUrl }}/reason-to-host-top-img.png"
              alt="NoImage"
              class="img-fluid reasom-to-host-img position-absolute"
            />
          </div>
          <div class="host-with-monz-right-cont reason-to-become-left">
            <h2 class="host-with-title reason-to-title">
              Reasons to become a host
            </h2>
            <ul class="host-with-ul reason-to-become-ul">
              <li>
                <div class="host-with-monze-left-text-icon">
                  <i class="fas fa-check-circle"></i>
                </div>
                <div class="host-with-monze-left-text-content">
                  Monzescope will only charge a 8% commission, compared to the
                  15% - 25% commission that other platforms charge.
                </div>
              </li>
              <li>
                <div class="host-with-monze-left-text-icon">
                  <i class="fas fa-check-circle"></i>
                </div>
                <div class="host-with-monze-left-text-content">
                  The hosts will have the option to charge a security deposit if
                  you feel it's necessary. The security deposit will be charged
                  when the client books your property and it will be
                  automatically returned to the them if no claims have been made
                  within 72 hours after the reservation is over.
                </div>
              </li>
              <li>
                <div class="host-with-monze-left-text-icon">
                  <i class="fas fa-check-circle"></i>
                </div>
                <div class="host-with-monze-left-text-content">
                  All guests MUST agree with your house rules before booking
                  your property. Making sure that everyone is on the same page
                  by the time they arrive at your venue.
                </div>
              </li>
              <li class="mb-0">
                <div class="host-with-monze-left-text-icon">
                  <i class="fas fa-check-circle"></i>
                </div>
                <div class="host-with-monze-left-text-content">
                  All hosts will be able to add their own extra services,
                  equipment and décor rentals!
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div>
          <img
            src="{{ gs.imgUrl }}/reason-to-beco-right-img.png"
            alt="NoImage"
            class="host-with-monze-img"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="how-to-earn-money-cont">
    <div class="container">
        <h2 class="host-with-title how-to-earn-title">Earn more money with Monzescope</h2>
        <p class="for-partner">For partners</p>
        <p class="how-to-earn-para mb-0">Our partners get all the support they need to showcase their service(s) and drive clicks and conversions from our marketplace.</p>
    </div>
</div> -->
<div class="take-your-space-cont">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div>
          <img
            src="{{ gs.imgUrl }}/take-your-space-img.svg"
            alt="NoImage"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-md-6 align-self-center">
        <div>
          <h2 class="how-it-work-title take-your-space-title">
            Take your space to the next level with Monzescope
          </h2>
          <p class="take-your-space-para">
            The <span>first 50 hosts</span> to join fully Monzescope will
            receive a special prize: <span>ZERO</span> commission for one year!
            In order to qualify for this price, your listing must include
            professional photos, a floor plan and a video tour.
          </p>
          <button
            class="btn btn-primary how-it-work-but"
            (click)="becomeHost()"
          >
            BECOME A HOST
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <section id="login-form" class="login-page register-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="login-box">
                    <h1>REGISTER</h1>
                    <button (click)="becomeHost()">Become Host</button>
                </div>
            </div>
        </div>
    </div>
</section> -->
