<div class="marketing-step-two twopointtwo">
  <h1>Marketing/ Inner Page Ad</h1>
  <div class="innerbanner">
    <div class="inneradd">
      <app-file-drag-drop-uploader
        title="Your Ad Here"
        [multiple]="false"
        [accept]="'image/*'"
        [layout]="'ad-layout'"
      ></app-file-drag-drop-uploader>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <div class="form-group">
        <label class="one">Category : <span>Apartments</span></label>
      </div>
      <label class="two">Terms & Conditions:</label>
      <div class="termtxt">
        <div class="left-scroll css-scroll">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's Standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus Page
            Maker including versions of Lorem Ipsum.
          </p>

          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a pits layout. The point of
          </p>

          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's Standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus Page
            Maker including versions of Lorem Ipsum.
          </p>
        </div>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="Acceptance"
        />
        <label class="form-check-label" for="Acceptance">
          By clicking on this, I confirm my Acceptance for the term & conditions
        </label>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="calenderpad">
        <div class="calender">
          <h3>Inner Banner</h3>
          <ngb-datepicker
            #dp
            (dateSelect)="onDateSelection($event)"
            [displayMonths]="1"
            [dayTemplate]="t"
            outsideDays="hidden"
          >
          </ngb-datepicker>
          <ng-template #t let-date let-focused="focused">
            <span
              class="custom-day"
              [class.focused]="focused"
              [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null"
            >
              {{ date.day }}
            </span>
          </ng-template>
        </div>
      </div>
      <div class="totalamount">
        <div class="image"><i class="fas fa-check"></i></div>
        <div class="title">Total Amount</div>
        <div class="amount">$200</div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <div class="btndiv">
    <button type="button" class="btn btn-primary">Preview</button>
    <button type="button" class="btn btn-default">Cancel</button>
  </div>
</div>

<div class="marketing-step-two twopointtwo twopointthree">
  <h1>Marketing/ Inner Page Ad</h1>
  <div class="innerbanner">
    <div class="inneradd">
      <a routerLink="/"><img src="{{ gs.imgUrl }}/addtop.png" alt="" /></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <label class="one">Category : <span>Apartments</span></label>
      </div>
      <div class="calenderpad">
        <h3>Inner Banner</h3>
        9/13/2022 to 9/20/2022
      </div>
      <div class="totalamount">
        <div class="image"><i class="fas fa-check"></i></div>
        <div class="title">Total Amount</div>
        <div class="amount">$200</div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-sm-7"></div>
  </div>

  <div class="btndiv">
    <button type="button" class="btn btn-primary">Proceed</button>
    <button type="button" class="btn btn-default">Cancel</button>
  </div>
</div>
