<section id="login-form" class="login-page forgetpassword">
  <div class="container">
    <div class="row main">
      <div class="col-sm-6 main">
        <div class="image">
          <img src="{{ gs.imgUrl }}/login-img.png" alt="" />
        </div>
      </div>
      <div class="col-sm-6 main">
        <div class="login-box">
          <div class="logodiv">
            <a routerLink="/"
              ><img src="{{ gs.imgUrl }}/login-logo.png" alt=""
            /></a>
          </div>
          <!-- <h1>{{'Forgot Password' }}</h1> -->
          <div class="content">
            {{ "We'll help you reset it and get back on track." }}
          </div>
          <app-forgot-form></app-forgot-form>
        </div>
      </div>
    </div>
  </div>
</section>
