<div class="mark-form-div" app-mktg-upper-right-ad-availability>
  <!-- <app-mktg-upper-right-ad-availability></app-mktg-upper-right-ad-availability> -->
</div>

<div class="row">
  <!-- firstInnerForm -->
  <div class="col-sm-6">
    <app-mktg-inner-page-ad-availability></app-mktg-inner-page-ad-availability>
  </div>
  <!-- firstFeaturedForm -->
  <div class="col-sm-6">
    <app-mktg-featured-ad-availability></app-mktg-featured-ad-availability>
  </div>
</div>
<app-mktg-owner-disclaimer></app-mktg-owner-disclaimer>
